.container {
    padding: 1rem ;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    position: relative;

}
.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.title {
    font-size: 2.5rem;
    margin-right: 5px;
}

.img__container {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: aliceblue;
  
    overflow: hidden;
}

.image {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
}

.user__container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    border-radius: 50px;
    z-index: 0; 
        cursor: pointer;
}

.user__container::before {
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
z-index: -1;
    background: #ff00cc;  
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);
    background: linear-gradient(to right, #333399, #ff00cc);
    border-radius: inherit;
}

.user__container::after {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
z-index: -1;
    background: black;  
    border-radius: inherit;
}

.signout__button {
    background-color: black;
    border: 1px dotted red;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.35s ease;
    min-height: 40px;

}

.signout__button:hover {
    background-color: red;
    color: black;
}

.link {
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    min-height: 20px;
}

.link__active {
    color: #333399;
}

.link::before {
    background: white;
    bottom: 0;
    content: '';
    height: 1px;
    width: 100%;
    left: 0;
    position: absolute;
    transition: transform 0.7s ease-in-out;
    transform: scaleX(0);
    transform-origin: left center;
}



.link:hover::before {
    transform: scaleX(1);
    transform-origin: right center;
}

@media screen and (max-width: 700px) {
    .container {
        margin: 0;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,1);
    }
    .title {
        font-size: 1.5rem;
    }

    .right {
        width: 100%;
        height: 250px;
      position:absolute;
    z-index: 5;
    background-color: rgba(0,0,0,0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: -500%;
        transition: 0.35s ease-in-out;
    }

    .right__active {
        top: 100%;
    }

    .mobile__menu {
        width: 100px;
    height: 100%;
    position: absolute;
    right: 0px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    transform:  rotate(90deg);
    }

    .mobile__menu span {
        margin: 3px;
        display: block;
        width: 2px;
        height: 25px;
        background-color: white;
        transition: 0.35s ease;
  
    }
}